*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --light1: #fff;
    --light2: #aaa;
    --dark1: #000;
    --dark2: #333;
}

body {
    font-family: manjari;
    font-size: 20px;
    background-color: var(--light1);
    text-align: center;
    padding: 50px;
}
body > h1{
    background-color: var(--light2);
    margin-bottom: 15px;
}

button .btn {
    background-color: #000;
    border: 5px;
    color: black;
    padding: 14px 45px;
    text-align: center;
    margin: 4px 2px;
    transition: .3;
}

button #btndraw {
    position: fixed;
    top: 8%;
    left: 7%;
}

table {
    border-collapse: collapse;
    color: black;
    margin-left: 20px;
    margin-top: 20px;
}

th {
    background-color: gray;
}

table, th, td, tr {
    padding: 10px;
    color: black;
    border: 3px solid black;
    text-align: center;
}

td .datanumber {
    background-color: white;
    font-family: fantasy;
    font-size: 40px;
    padding: 2px;
}

td .ball-data {
    background-color: white;
    font-family: fantasy;
    font-size: 40px;
    padding: 2px;
}

input {
    font-size: 16px;
    border: none;
    border-radius: 4px;
    padding: 8px 15px;
}

h1#title {
    font-size: 100px;
    text-align: center;
    height: 15px;
}

table #table-balls {
    background-color: white;
    /*position: absolute;
    top: 2%;*/
    font-family: fantasy;
    border: 2px solid white;
    padding: 5px;
}

button:hover {
    background-color: gray;
    color: #ffff99;
    cursor: pointer;
}

button {
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
}

.pdrawBall {
    font-size: 60px;
}

.free {
    background-color: red;
}
